# R files
*.Rproj
.Rhistory
.Renviron
.RData
.Ruserdata

# environmental variables
.env

# IDEs
.idea

# system files
.DS_Store

# benchmark and testing data
*.geojson
benchmarks/cb_2019_us_county_500k/
benchmarks/cb_2019_us_cousub_500k/
benchmarks/cb_2019_us_state_500k/

#shiny server config
shiny-server.conf
shiny-server.sh

# Rcpp object files
*.o
*.so
.Rproj.user
inst/doc
Meta
